body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    font-family: cursive;
    padding: 20px;
    text-align: left;
  }
  
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px;
  }
  
  .blog-post {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
  
  .blog-post h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .blog-post .meta {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .blog-post p {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .blog-post a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .blog-post a:hover {
    text-decoration: underline;
  }
  
  .moving-text {
    position: relative;
    animation: marquee 8s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #floating-heading {
    animation: float 3s ease-in-out infinite;
  }