{% extends 'base.html' %}

{% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
  crossorigin="anonymous"
/>
<style>
.container.mt-4{
    position: relative;
    top: 65px;
    height: 70vh;
}
</style>
<div class="container mt-4">
  <div class="center-container">
    <h3 class="mb-4">Update Your Bio</h3>
    <form action="{% url 'bio' request.user.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="bioField">Bio:</label>
        <textarea class="form-control" id="bioField" name="bio" rows="5">{{request.user.bio}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
</div>
{% endblock %}
