{% extends 'base.html' %}
{% load static %}

{% block routine %}active{% endblock routine %}

{% block content %}
<style>
 .im { 
    display: flex;
    margin: 10px 10px 10px 10px;
 }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
{% if 'lobuche' in section%}
<div class="alert alert-dark" role="alert">
   Here is your routine {{request.user.username}} of class 12 Lobuche
</div>
<div class="im">
    <img src="{% static 'image/lobuche.png' %}" alt="" class="img-fluid">
</div>
{% endif %}
{% if 'yala' in section %}
<div class="alert alert-dark" role="alert">
    Here is your routine {{request.user.username}} of class 12 Yala
</div>
<div class="im">
    <img src="{% static 'image/yala.png' %}" alt="" class="img-fluid">
</div>
{% endif %}
{% if 'khumbila' in section %}
<div class="alert alert-dark" role="alert">
    Here is your routine {{request.user.username}} of class 12 khumbila
</div>
<div class="im">
    <img src="{% static 'image/khumbila.png' %}" alt="" class="img-fluid">
</div>
{% endif %}
{% endblock content %}
