{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<title>Chapter Image Upload</title>
</head>
<body>
<div class="container">
  <div class="table-responsive">
    <div class="form-container">
      <h2>Upload Chapter Images {{sub}}</h2>
      <form action="{% url 'upload_notes' sub %}" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <div class="form-group">
            <label for="chapter">Chapter Number</label>
            <input type="text" id="chapter" name="chapter" required>
        </div>
        <div class="form-group">
            <label for="images">Upload Notes Of The Chapter :</label>
            <div class="file-input-container" id="labu">
              <label class="file-input-label" for="images">Choose File</label>
              <input type="file" id="images" class="file-input" name="images"  multiple required>
            </div>
        </div>
        <div class="form-group">
            <label for="page_number">Page Number</label>
            <input type="text" id="page_number" name="page">
        </div>
        <div class="form-group">
            <label for "title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="desc" id="description" cols="30" rows="10"></textarea>
        </div>
        <button class='button' type="submit">Upload</button>
    </form>
    

    </div>
  </div>
</div>
<script>
  const fileInput = document.getElementById('images');
  const fileInputLabel = document.querySelector('.file-input-label');
  let selectedFileNames = [];

  fileInput.addEventListener('change', () => {
    if (fileInput.files.length > 0) {
      const newFileNames = Array.from(fileInput.files).map(file => file.name);
      selectedFileNames = [...selectedFileNames, ...newFileNames];
      updateFileLabel();
    } else {
      updateFileLabel();
    }
  });

  function updateFileLabel() {
    if (selectedFileNames.length > 0) {
      fileInputLabel.textContent = selectedFileNames.join(', ');
    } else {
      fileInputLabel.textContent = 'Choose File';
    }
  }
</script>
</body>
</html>
{% endblock content %}